{% extends 'base.html' %}
{% block title %}PrepZone{% endblock %} 
{% block content %}

<header class="text-center text-black bg-white mt-5 py-5 text-2xl font-bold">
   Learning Resources
</header>

<main>
  <!-- Section 1 -->
  <section class="flex flex-wrap justify-center gap-5 p-5">
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">Python Basics</h2>
      <p class="text-base text-gray-600 mb-4">Learn the fundamentals of Python programming.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/Python_ Basic.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/Python_ Basic.pdf')">Download PDF</button>
      </div>
    </div>

    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐃𝐚𝐭𝐚 𝐒𝐭𝐫𝐮𝐜𝐭𝐮𝐫𝐞𝐬 𝐢𝐧 𝐏𝐲𝐭𝐡𝐨𝐧</h2>
      <p class="text-base text-gray-600 mb-4">Understand lists, tuples, sets, and dictionaries in Python.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/𝐃𝐚𝐭𝐚 𝐒𝐭𝐫𝐮𝐜𝐭𝐮𝐫𝐞𝐬 𝐢𝐧 𝐏𝐲𝐭𝐡𝐨𝐧 !.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/𝐃𝐚𝐭𝐚 𝐒𝐭𝐫𝐮𝐜𝐭𝐮𝐫𝐞𝐬 𝐢𝐧 𝐏𝐲𝐭𝐡𝐨𝐧 !.pdf')">Download PDF</button>
      </div>
    </div>

    <!-- Duplicate card example -->
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">OOPs </h2>
      <p class="text-base text-gray-600 mb-4">All OOPs concept included Encapsulation, Inheritance, manipulators .</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/OOPs.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/OOPs.pdf')">Download PDF</button>
      </div>
    </div>
  </section>

  <!-- Repeat Section (if needed) -->
  <section class="flex flex-wrap justify-center gap-5 p-5">
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐄𝐱𝐩𝐥𝐨𝐫𝐚𝐭𝐨𝐫𝐲 𝐃𝐚𝐭𝐚 𝐀𝐧𝐚𝐥𝐲𝐬𝐢𝐬 (𝐄𝐃𝐀)</h2>
      <p class="text-base text-gray-600 mb-4">Learn how to explore, clean, and visualize datasets using Python libraries like Pandas, NumPy, and Matplotlib to uncover meaningful insights and patterns.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/EDA.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/EDA.pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐍𝐚𝐭𝐮𝐫𝐚𝐥 𝐋𝐚𝐧𝐠𝐮𝐚𝐠𝐞 𝐏𝐫𝐨𝐜𝐞𝐬𝐬𝐢𝐧𝐠 (𝐍𝐋𝐏)</h2>
      <p class="text-base text-gray-600 mb-4">Explore techniques to process and analyze human language using Python libraries like NLTK, spaCy, and Transformers. Learn text  sentiment analysis, and building language models.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/NLP Model .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/NLP Model .pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐌𝐚𝐭𝐩𝐥𝐨𝐭𝐥𝐢𝐛</h2>
      <p class="text-base text-gray-600 mb-4">Master data visualization with Matplotlib — create line plots, bar charts, histograms, and scatter plots to clearly represent data insights and trends using Python and detailed graphs for clear data representation.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/Matplotlib .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/Matplotlib .pdf')">Download PDF</button>
      </div>
    </div>
  </section>
   <!-- Repeat Section (if needed) -->
  <section class="flex flex-wrap justify-center gap-5 p-5">
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐌𝐋 𝐀 𝐭𝐨 𝐙</h2>
      <p class="text-base text-gray-600 mb-4">Cover the complete journey of Machine Learning — from data preprocessing and model building to evaluation and deployment using Python.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/ML A to Z.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/ML A to Z.pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐏𝐚𝐧𝐝𝐚𝐬 𝐂𝐡𝐞𝐚𝐭𝐬𝐡𝐞𝐞𝐭</h2>
      <p class="text-base text-gray-600 mb-4">Quick reference guide to essential Pandas functions — learn data cleaning, filtering, grouping, and manipulation for efficient data analysis.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/PANDAS CHEATSHEET.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/PANDAS CHEATSHEET.pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐉𝐚𝐯𝐚 𝐈𝐧𝐭𝐞𝐫𝐯𝐢𝐞𝐰 𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧𝐬 & 𝐀𝐧𝐬𝐰𝐞𝐫𝐬</h2>
      <p class="text-base text-gray-600 mb-4">Comprehensive collection of top Java interview questions with answers and more.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/Java Interview Question & Answers .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/Java Interview Question & Answers .pdf')">Download PDF</button>
      </div>
    </div>
  </section>
   <!-- Repeat Section (if needed) -->
  <section class="flex flex-wrap justify-center gap-5 p-5">
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐃𝐚𝐭𝐚 𝐂𝐥𝐞𝐚𝐧𝐢𝐧𝐠</h2>
      <p class="text-base text-gray-600 mb-4">Learn to handle missing values, remove duplicates, and fix inconsistent data using Pandas and NumPy to prepare high-quality datasets for analysis.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/ Data Cleaning .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/ Data Cleaning .pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐃𝐞𝐞𝐩 𝐋𝐞𝐚𝐫𝐧𝐢𝐧𝐠 𝐟𝐫𝐨𝐦 𝐒𝐜𝐫𝐚𝐭𝐜𝐡</h2>
      <p class="text-base text-gray-600 mb-4">Understand the core concepts of Deep Learning by building neural networks from scratch using Python and NumPy, just pure fundamentals.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/Deep Learning from Scratch.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/pythonnotes/Deep Learning from Scratch.pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐂𝐑𝐔𝐃 𝐎𝐩𝐞𝐫𝐚𝐭𝐢𝐨𝐧𝐬</h2>
      <p class="text-base text-gray-600 mb-4">Learn to perform Create, Read, Update, and Delete operations in databases using Python and SQL — the foundation of all data-driven applications.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/CRUD Operations .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/CRUD Operations .pdf')">Download PDF</button>
      </div>
    </div>
  </section>
   <!-- Repeat Section (if needed) -->
  <section class="flex flex-wrap justify-center gap-5 p-5">
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐓𝐨𝐩 800+ 𝐒𝐐𝐋 𝐐𝐮𝐞𝐬𝐭𝐢𝐨𝐧𝐬</h2>
      <p class="text-base text-gray-600 mb-4">Extensive collection of SQL questions and solutions covering queries, joins, subqueries, aggregations, and database concepts to boost your SQL skills.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/top 800+ sql questions .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/top 800+ sql questions .pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐌𝐚𝐭𝐡𝐞𝐦𝐚𝐭𝐢𝐜𝐬 𝐟𝐨𝐫 𝐌𝐚𝐜𝐡𝐢𝐧𝐞 𝐋𝐞𝐚𝐫𝐧𝐢𝐧𝐠</h2>
      <p class="text-base text-gray-600 mb-4">Understand the basic math concepts like linear algebra, calculus, and probability for building ML models.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/Mathematics for Machine Learning _ Naveed R. Butt _ Set 8.pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/Mathematics for Machine Learning _ Naveed R. Butt _ Set 8.pdf')">Download PDF</button>
      </div>
    </div>
    <div class="bg-white-100 border border-yellow-300 rounded-xl border-2 border-black rounded-xl p-5 w-[340px] text-center shadow-md">
      <h2 class="text-xl font-bold mb-3">𝐇𝐨𝐰 𝐭𝐨 𝐁𝐞𝐜𝐨𝐦𝐞 𝐚 𝐆𝐞𝐧𝐞𝐫𝐚𝐭𝐢𝐯𝐞 𝐀𝐈 𝐄𝐧𝐠𝐢𝐧𝐞𝐞𝐫</h2>
      <p class="text-base text-gray-600 mb-4">Learn key steps to master AI, deep learning, prompt engineering, and build generative AI models.</p>
      <div class="flex justify-center gap-3">
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="readPDF('/static/notes/sheets/How to become a Generative AI Engineer .pdf')">Read PDF</button>
        <button class="bg-black text-white px-4 py-2 rounded-md text-sm min-w-[120px] hover:bg-gray-800" onclick="downloadPDF('/static/notes/sheets/How to become a Generative AI Engineer .pdf')">Download PDF</button>
      </div>
    </div>
  </section>

  
</main>

<script>
  function readPDF(filePath) {
    window.open(filePath, '_blank');
  }

  function downloadPDF(filePath) {
    const link = document.createElement('a');
    link.href = filePath;
    link.download = filePath.split('/').pop();
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
</script>

{% endblock %}
